/GtfsReader/Data/agency.txt
/GtfsReader/Data/calendar.txt
/GtfsReader/Data/calendar_dates.txt
/GtfsReader/Data/routes.txt
/GtfsReader/Data/stop_times.txt
/GtfsReader/Data/stops.txt
/GtfsReader/Data/transfers.txt
/GtfsReader/Data/trips.txt
